/* App.css */
*{
  background-color: #222222;
}

.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #8a82ff;
  padding: 20px;
  width: 100%; 
  min-width: 300px; 
  max-width: 700px; 
  margin: 40px auto; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.App-header, .AddTodo, .TodoList{
  background-color: #8a82ff;
}

.App-header {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: bold;
}

.AddTodo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.AddTodo input[type="text"] {
  flex-grow: 1; 
  margin-right: 10px; 
  color: white;
  border-radius: 10px;
}

.TodoList {
  text-align: left; 
}

.todo-item {
  color: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.todo-title {
  font-size: 18px;
}

.todo-deadline {
  font-size: 12px;
  color: #555;
}

.todo-actions {
  display: flex;
  justify-content: flex-end;
}

.todo-actions button {
  margin-left: 5px; 
}

button {
  background-color: #5cb85c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

